
p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
}

body{
    margin: 0;
    height: 1300px;
    padding-top: 67px;
    padding-left: 190px;
    padding-right: 10px;
    background-color: rgb(241, 241, 241);
    font-family: Roboto, Arial;
}


@media (max-width: 768px) {
    body{
        margin: 0;
        height: 1300px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
        background-color: rgb(241, 241, 241);
        font-family: Roboto, Arial;
    }

    .sidebar{
        display: none;
    }
    
    .yt-apps-container, .notif-container, .user-picture{
        opacity: 0;
        display: none;
    }

    .middle-section {
        max-width: 50px;
        margin-right: 10px;
        flex: 0;
    }

    .search-button {
        margin-left: 20px;
        margin-right: 20px;
    }

    .search-bar, .voice-button{
        display: none;
    }


}